.App {
  text-align: center;
}

h1 {
  color: #daad86;
  font-weight: 800;
  font-size: 2rem;
  margin-bottom: 40px;
}

span {
  color: #312c32;
  font-weight: 600;
}

form {
  margin-bottom: 40px;
}

input {
  height: 30px;
  width: 200px;
  margin: 0;
  padding-left: 10px;
  border-color: 1px solid #312c32;
  color: #312c32;
}

input.search {
  margin-top: 10px;
  width: 285px;
}

input:focus {
  outline: none;
}

button {
  height: 36px;
  width: 75px;
  border: none;
  margin-left: 10px;
  background-color: #98dafc;
  color: white;
  cursor: pointer;
}

button:hover {
  border: 1px solid #98dafc;
  background-color: white;
  color: #98dafc;
}

button:focus {
  outline: none;
}

ul {
  padding: 0;  
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

li {
  margin: 5px 0;
  width: 299px;
  height: 36px;
  background-color: #daad86;
  color: white;
  line-height: 36px;
}

li:hover {
  background-color: white;
  color: #daad86;
  border: 1px solid #daad86;
  cursor: pointer;
}
